body{
    background-color: black;



    /* width: 100%;
    /* height: 100vh; 
    box-sizing: border-box;
    /* overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 61, 58);
    padding: 0px; */
}

/* font setting */
.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.listItem{
    text-align: center;
    font-size: 22px;
    width: 120px;
    text-decoration: none;
    color: rgb(220, 15, 15);
    display: block;
    padding: 14px 16px;
}

li{
    float: left;
    list-style: none;
}

#btn1, #btn2{
    visibility: hidden;
    transition: opacity 1s ease;
    position: fixed;
    top: -10px; 
    left: 10px;
    z-index: 100px ; 
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    color: rgb(220, 15, 15);
    border: none;
    font-size: 80px;
    cursor: pointer;
}


.btn {
    color: rgb(255, 0, 0);
}

.btn-2 {
    color: rgb(250, 0, 0);
    display: none;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9;
}

ul{
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 0;
    /* border-radius: 10px; */
    border-bottom: solid 3px rgb(181, 55, 55);
    /* margin-bottom: 50px; */
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}

.listItem:active{
    background-color: rgb(220, 15, 15);
    border-radius: 10px;
    font-weight: 600;
    color: black;
}

.listItem:hover{
    color: black;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(220, 15, 15); 
} 

#search{
    position: fixed;
    top: 12px;
    left: 85vw;
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    padding: 0px 8px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}


#searchBtn{
    position: fixed;
    top: -15px;
    left: 82.5vw;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding: 5px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#searchBtn:hover{
    transition: 0.5s;
    color: red;
}

/* carousel slides */
.slides{
    margin-top: 70px;
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: none;
    mask-repeat: repeat;
}

.slides-image{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 75vh;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: black;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slides-image img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    /* transform: translateX(100%);
    transition: 1s */
}




/* Heading above slider */
#ourModelheading{
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-size: 6rem;
    font-style: normal;
    padding: 0px 36px;
}



/* slider code */




.main {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    scrollbar-width: none;
    justify-content: center;
}



.slider{
    height: auto;
    width: 30%;
    border: 2px solid black;
    border-radius: 0px;
    background-color: black;
    color: rgb(255, 255, 255);
    /* padding: 0 3px; */
    border: 2px solid rgb(213, 10, 10);
    align-items: center;
    justify-content: center;
}

.slider p{
    /* top: 200px; */
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    margin-top: 5px;
    width: 96.5%;
    height: 250px;
    border-radius: 0px !important;
    padding-left: 10px;
    font-family: 'Montserrat';
    background-image: url(https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position:center;
    color: rgba(253, 253, 253, 0);
}

.slider p:hover{
    opacity: 1;
    transition: 1s;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}

.opacDiv:hover{
    opacity: 0.6;
    transition: 1s;
}

.opacDiv{
    width: 480px;
    height: 250px;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.slider img{
    width: 490px;
    height: 250px;
    padding: 5px 5px 5px 5px;
}

.slider h1{
    color: rgb(255, 255, 255);
    /* color: rgb(254, 8, 8); */
    font-size: 3rem;
    text-align: center;
    font-family: "Racing Sans One", sans-serif;

}

.slider h1:hover{
    transition: 0.5s;
    /* color: rgb(252, 66, 66); */
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 131, 131);
    cursor: pointer;
}

footer{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    border: 2px solid red;
    box-shadow: 0px 30px 73px 44px rgb(248, 76, 76); 
    overflow: hidden;
}


.footerMain{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footerDivs{
    width: 25%;
    height: 40vh;
    justify-content: center;
    text-align: left;
    padding: 10px;
}

.footerHeadings{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    border: 2px solid red;
    width: 15.5vw;
    padding: 5px;
    box-shadow: 5px 5px rgb(255, 57, 57);
}

.footerText{
    font-style: normal;
    list-style: none;
    color: red;
    font-size: 2rem;
    text-decoration: none;  
}

.footerDivSecond{
    
}

.subscribeEmail{
    height: 4vh;
    width: 15vw;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
    padding: 0px 5px;
    margin: auto;
    font-family: 'system-ui';
}

.sendButton{
    margin-top: 0px;
    margin-left: 10vw;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0px solid white;
    cursor: pointer;
    font-size: 1.5rem;

}

.sendButton img{
    width: 5vw;
    height: 10vh;
    margin-top: -20px;

}

.footerDivFirst{
    
}



.footerDivFirst h1{
    font-family: "Racing Sans One", sans-serif;
    color: red;
    padding: 0px 20px;
    font-size: 4rem;
}

.footerDiv2{
    /* position: absolute;
    top: 242vh;
    left: 2.5vw; */
}

.footerDiv2 img{
    margin-top: -130px;
    width: 15vw;
    height: 30vh;
    padding: 10px;
    transform: rotate(-21deg);
}

.copyrightDiv{
    color: white;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.copyrightP{
    width: 80vw;
    margin: auto;
    font-size: 1.5rem;
    font-family: 'fantasy';
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 10px;
}








/*  */




/* setting display for mobiles */
@media (max-width: 624px) {
body{
    /* width: 100%; */
    /* height: 100vh; */
    /* box-sizing: border-box; */
    /* overflow: scroll; */
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#btn1{
    visibility:visible;
}

#search, #searchBtn{
    visibility: hidden;
}

#btn2{
    visibility: hidden;
}


.listItem{
    text-align: center;
    font-size: 22px;
    width: 120px;
    text-decoration: none;
    color: rgb(220, 15, 15);
    display: block;
    padding: 14px 16px;
}

li{
    float: left;
    list-style: none;
    overflow: visible;
}

ul{
    text-align: left;
    display: block;
    position: absolute;
    top: 120px; 
    left: 10px;
    z-index: 100lpx ;   
    width: 10vh;
    overflow: visible;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;

    border-radius: 10px;
    border-bottom: solid 3px rgb(181, 55, 55);
    border-right: solid 3px rgb(181, 55, 55);
}

.listItem:active{
    background-color: rgb(220, 15, 15);
    color: black;
}


.btn {
    display: block;
    visibility: visible;
}

.btn-2 {
    display: block;
    visibility: hidden;
}


.mainMenu{
    visibility: hidden;
}


.showMenu {
    opacity: 1;
    visibility: visible !important;
    display: block;
}

.hideMenu {
    opacity: 0;
    visibility: hidden;
}




/* slider in mobile */





.main {
    margin-top: 8vh;
    gap: 5vw;
    overflow: scroll;
    /* margin-top: 70px; */
    /* height: auto;
    width: auto; */
    width: 500%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    /* overflow-wrap: anywhere;  */
    scrollbar-width: none;
    /* align-items: center;
    justify-content: center; */
}



.slider{
    /* height: 30vh;
    width: 80vw; */
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 0 3px;
    border: 2px solid rgb(213, 10, 10);
}

.slider p{
    /* width: 100%; */
    padding: 24px 0px;
    font-family: 'Montserrat';
    font-size: 16px;
}

.slider img{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding-top: 5px;
}

.slider h1{
    color: rgb(254, 8, 8);
    font-size: 1.5rem;
}
}